@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
}

#navigator {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px 5px 5px 80px;
}

.ad {
    display: block;
    width: 100%;
    border-color: rgba(61, 61, 61, 0.272);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    color: rgb(32, 27, 27);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  


    .ad-thingy {
        font-weight: 700;
        padding: 6px 16px;
        margin-right: 0.8rem;
        background-color: turquoise;
        border-radius: 10em;
        color: white;
    }

    .more-cool-ad {
        font-weight: 700;
        
    }

    #carouselExampleIndicators {
        padding:30px 30px 30px 30px;

    }

    .category-pet{
        font-size: 2em;
        font-weight: 700px;
        padding: 20px 20px 20px 20px;
    }
    
    .row-display {
        display: flex;
        justify-content: center;
    }

    .column-display {
        padding: 20px;
    }

    .circle-picture {
        border-radius: 50%;
    }

    .category-popular{
        font-size: 2em;
        font-weight: 700px;
        padding: 20px 20px 20px 20px;
    }

    .form-control{
        width: 500px;
    }


    .search-icon{
        padding: 10px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
        border-radius: 5%;
    }

    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }

      .input-container .fa-search{
        display: table-cell;
      }
      
      footer {
          margin-top: 20x;
      }

#2 {
    margin: 2em;
}